################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fracture/.vs/Fracture/v16
/Fracture/bin
/Fracture/int
/Fracture/vendor
/.vs
/Sandbox/bin
/Sandbox/int
