################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fracture/.vs/Fracture/v16/
/Fracture/bin/
/Fracture/Debug/
/Fracture/Release/bin/Fracture.lib
/Fracture/Release wSymbols/
/Fracture/Release wSymbols/bin/Fracture.lib
/Fracture/int/
/Fracture/vendor/
/.vs/
/Sandbox/bin/
/Sandbox/int/
/FractureEngine/bin/result.json
/FractureEngine/int/
/FractureEngine/bin/
/FractureEngine/vendor/
/Fracture/FractureEngine/int/
/Fracture/FractureEngine/bin/
